<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
<meta name="description" content="浏览器中的战斗机">
<meta name="author" content="zerob13">
<!-- 最新 Bootstrap 核心 CSS 文件 -->
<!--[if lt IE 8]>
    <link href="/static/css/bootstrap-ie7.css" rel="stylesheet">
<![endif]--> 
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
           <script type="text/javascript" src="js/html5shiv.js"></script>
           <script type="text/javascript" src="js/respond.min.js"></script>
 <![endif]-->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="/static/css/bootstrap-theme.min.css">
<link rel="stylesheet" media="screen" href="/static/css/DT_bootstrap.css">
<script src="/static/js/jquery-2.1.0.min.js"></script>
<title>管理后台</title>
<!-- Bootstrap Admin Theme -->
<link rel="stylesheet" media="screen" href="/static/css/bootstrap-admin-theme.css">
<link rel="stylesheet" media="screen" href="/static/css/bootstrap-admin-theme-change-size.css">
</head>
<body >

<!-- main / large navbar -->
<nav class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar " role="navigation">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="about.html">数据后台</a>
            </div>
            <div class="collapse navbar-collapse main-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">文件管理</a></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-hover="dropdown">扩展功能 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li role="presentation" class="dropdown-header">Dropdown header</li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" class="dropdown-header">Dropdown header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <a href="#">Reminders <i class="glyphicon glyphicon-bell"></i></a>
                    </li>
                    <li>
                    <a href="#">Settings <i class="glyphicon glyphicon-cog"></i></a>
                    </li>
                    <li class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle" data-hover="dropdown"> <i class="glyphicon glyphicon-user"></i> Username <i class="caret"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div>
    </div><!-- /.container -->
</nav>
<div class="container">
    <div class="clo-md-10">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">文件浏览</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>FileName</th>
                                <th>FileSize</th>
                                <th>UploadData</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{range $j:= .Files}}
                        <tr>
                            <td>{{$j.Name}}</td>
                            <td>{{$j.Size}} KB</td>
                            <td>{{$j.Time}}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/twitter-bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-admin-theme-change-size.js"></script>
</body>
</html>
